<h2>Clients Page</h2>

<mat-card *ngIf="clients.length > 0; else noClients">
  <mat-card-title>Clients List</mat-card-title>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let client of clients">
        {{ client.name }}
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>

<ng-template #noClients>
  <mat-card>
    <mat-card-title>No Clients</mat-card-title>
    <mat-card-content>
      <p>No clients found.</p>
    </mat-card-content>
  </mat-card>
</ng-template>
